body{
    background-color: darkcyan;
}

.nemo {
    width: 80%;
    height: 10rem;
    margin:  40px auto;
    background-color: antiquewhite;
    border-radius: 5px;
   

}
.nemo-in{
    padding: 2rem;
}

.nemo label{
    display: block;
}
.nemo input{
    margin: 1rem 0;
    width: 80%;
    
}
.nemo input:focus{
    background-color: blueviolet;
}
.nemo button{
    display: block;
}
span{
    display: inline-block;
    width: 2rem;
    padding: 0;
    margin: 0;
    text-align: center;
}
