#login-section{
    width: 30rem;
    height: 22rem;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 2px 2px 2px 5px grey;
}
#login-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}
label{
    width: 5rem;
    display: flex;
    justify-content: center;
}
input{
    width: 80%;
}