<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %> 
  </head>
  <body>
    <%- include("includes/header") %> 
    <%- include("includes/aside") %>
    <main>
      <h1> 500 Something went wrong</h1>
      <p>
        server is wrong
      </p>
    </main>
  </body>
</html>
