<%- include("includes/head")%>
<link rel="stylesheet" href="/style/home.css">
</head>

<body>
    <%- include("includes/header")%>
    <section id="home-section">
        <h1> well come my blog site! </h1>
        <p> this is my demo blog site for practice</p>
        <p> please enjoy this website and have a good day guys</p>
    </section>
    
</body>
</html>