<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1> 
    
    <form action="/posts" method="get" >

      <input type="hidden" value="<%=orderLaw %>" name="order">
      <button> arrangement </button>
    </form>


    <% if(!posts || posts.length === 0 ) { %> <!-- 빈 배열은 false 임을 기억하자-->
      <p>no post here</p>
    <% }else  {%>
    <ul>
      <% for(const data of posts) { %>
        <%- include("includes/post-item", {data : data}) %>
      <% }%> -->
    </ul>
    <% } %>
  </main> 
</body>

</html>